<input type="text" placeholder="search ...." #query (keyup)="search(query.value)">
<!-- ******************************************************************************************************* -->
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>TimeSlot</th>
      <th>Treatment</th>
    </tr>
  </thead>
  {{filterText}}
  <tr *ngFor="let book of searchString ">
    <td>{{ book.bookingId }}</td>

    <td>{{ book.name }}</td>
    <td>{{book.email}}</td>
    <td>{{ book.mobile }}</td>
    <td>{{ book.luTimeSlot.timeSlotTitle }}</td>
    <td>{{ book.luTreatment.treatmentTitle }}</td>

    <td>
      <a class="btn" (click)="showForEdit(book)" data-toggle="modal" data-target="#updateModal">
        <i class="fa fa-pencil-square-o"></i>
      </a>

      <a class="btn text-danger" (click)="onDelete(book.bookingId)">
        <i class="fa fa-trash-o"></i>
      </a>

      <a class="btn text-danger" (click)="showForDetail(book)" data-toggle="modal" data-target="#detailModal">
        <!-- <i class="far fa-lock-alt"></i> -->
        detail
      </a>
    </td>

  </tr>

</table>
<!-- ******************************************************************************************************* -->
<!-- Update Modal  -->
<div class="container">
  <div class="modal fade" id="updateModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Update Form</h4>
        </div>
        <div class="modal-body">

          <form class="col s12 white" #BookingForm="ngForm">
            <div class="row">
              <div class="input-field col s6">
                <label>Name</label>
                <br>
                <br>
                <input name="Name" #Name="ngModel" [(ngModel)]="activeItem.name" value="{{activeItem.name}}" disabled>
              </div>
              <div class="input-field col s6">
                <label>Mobile</label>
                <br>
                <br>
                <input name="Mobile" #Mobile="ngModel" [(ngModel)]="activeItem.mobile" value="{{activeItem.mobile}}" disabled >
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <label>Email</label>
                <br>
                <br>
                <input class="validate" type="text" value="{{activeItem.email}}" name="Email" #Email="ngModel" [(ngModel)]="activeItem.email" disabled>
              </div>
              <div class="input-field col s6">
                <label>Booked Date</label>
                <br>
                <br>
                <input type="date" value="{{activeItem.bookedDate}}" name="BookedDate" #BookedDate="ngModel" [(ngModel)]="activeItem.bookedDate">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <label>Treatment</label>
                <br>
                <br>
                <select class="browser-default" name="TreatmentId" #TreatmentId="ngModel" [(ngModel)]="activeItem.treatmentId">
                  <option value="" disabled selected>--Select treatment--</option>
                  <option *ngFor="let treatment of treatments1" value={{treatment.id}}>
                    {{treatment.treatmentTitle}}
                  </option>
                </select>
              </div>
              <div class="input-field col s6">
                <label>Time Slot</label>
                <br>
                <br>
                <select class="browser-default" name="TimeSlotId" #TimeSlotId="ngModel" [(ngModel)]="activeItem.timeSlotId">
                  <option value="" disabled selected>--Select time--</option>
                  <option *ngFor="let time of timeslot" value={{time.id}}>
                    {{time.timeSlotTitle}}
                  </option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <label>Note</label>
                <br>
                <br>
                <input type="text" name="Note" #Note="ngModel" value="{{activeItem.note}}" [(ngModel)]="activeItem.note">

              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-8">
                <button  type="submit" class="btn btn-lg btn-block btn-info" (click)="OnUpdate(activeItem.bookingId,activeItem)" >
                  <i class="fa fa-floppy-o"></i> Update</button>
              </div>
              <div class="form-group col-md-4">
                <button type="button" class="btn btn-default" style="float: right" data-dismiss="modal">Close</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ******************************************************************************************************* -->
<!-- Details Modal  -->
<div class="container">
  <div class="modal fade" id="detailModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Details</h4>
        </div>
        <div class="modal-body">

          <form class="col s12 white" #BookingForm="ngForm">
            <div class="row">
              <div class="input-field col s6">
                <label>Name</label>
                <br>
                <br>
                <input class="validate" type="text" value="{{activeItem.name}}" name="Name" #Name="ngModel" [(ngModel)]="activeItem.name"
                  disabled>
              </div>
              <div class="input-field col s6">
                <label>Mobile</label>
                <br>
                <br>
                <input class="validate" type="text" value="{{activeItem.mobile}}" name="Mobile" #Mobile="ngModel" [(ngModel)]="activeItem.mobile"
                  disabled>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <label>Email</label>
                <br>
                <br>
                <input class="validate" type="text" value="{{activeItem.email}}" name="Email" #Email="ngModel" [(ngModel)]="activeItem.email"
                  disabled>
              </div>

              <div class="input-field col s6">

                <label>Booked Date</label>
                <br>
                <br>
                <input type="date" value="{{activeItem.bookedDate}}" name="BookedDate" #BookedDate="ngModel" [(ngModel)]="activeItem.bookedDate">
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <label>Treatment</label>
                <br>
                <br>
                <select class="browser-default" name="TreatmentId" #TreatmentId="ngModel" [(ngModel)]="activeItem.treatmentId">
                  <option value="" disabled selected>--Select treatment--</option>
                  <option *ngFor="let treatment of treatments1" value={{treatment.id}} disabled>
                    {{treatment.treatmentTitle}}
                  </option>
                </select>
              </div>
              <div class="input-field col s6">
                <label>Time Slot</label>
                <br>
                <br>
                <select class="browser-default" name="TimeSlotId" #TimeSlotId="ngModel" [(ngModel)]="activeItem.timeSlotId">
                  <option value="" disabled selected>--Select time--</option>
                  <option *ngFor="let time of timeslot" value={{time.id}} disabled>
                    {{time.timeSlotTitle}}
                  </option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <label>Note</label>
                <br>
                <br>
                <input type="text" name="Note" #Note="ngModel" value="{{activeItem.note}}" [(ngModel)]="activeItem.note" disabled>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-4">
                <button type="button" class="btn btn-default" style="float: right" data-dismiss="modal">Close</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ******************************************************************************************************* -->



<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal Edit-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Form</h4>
      </div>
      <div class="modal-body">
        <form class="emp-form" #updateForm="ngForm" (ngSubmit)="OnUpdate(updateForm)">
          <label>Name</label>
          <input name="Name" #Name="ngModel" [(ngModel)]="activeItem.name" value="{{activeItem.name}}" disabled>
          <label>Mobile</label>
          <input name="Mobile" #Mobile="ngModel" [(ngModel)]="activeItem.mobile" value="{{activeItem.mobile}}" disabled>
          <label>Email</label>
          <input name="Email" #Email="ngModel" [(ngModel)]="activeItem.email" value="{{activeItem.email}}" disabled>
          <label>Treatment</label>
          <input type="text" value="{{activeItem.treatmentId}}" name="TreatmentId" #TreatmentId="ngModel" [(ngModel)]="activeItem.treatmentId">
          <br>
          <label>TimeSlot</label>
          <input type="text" value="{{activeItem.timeSlotId}}" name="TimeSlotId" #TimeSlotId="ngModel" [(ngModel)]="activeItem.timeSlotId">
          <br>
          <label>Note</label>
          <input type="text" value="{{activeItem.note}}" name="Note" #Note="ngModel" [(ngModel)]="activeItem.note">
          <br>
          <label>Boooked Date</label>
          <input type="date" value="{{activeItem.bookedDate}}" type="date" name="BookedDate" #BookedDate="ngModel" [(ngModel)]="activeItem.bookedDate">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      <div class="modal-footer">
        <button type="submit" data-dismiss="modal" class="btn btn-lg btn-block btn-info">
          <i class="fa fa-floppy-o"></i> Update</button>
      </div>
    </div>

  </div>
</div>
<!-- ******************************************************************************************************* -->