<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Quest Application </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">

    </ul>
  </div>
</nav>
<br>
<div class="row">
  <div class="col-md-4">
    <app-book></app-book>
  </div>
  <div class="col-md-8">
    <app-booking-list></app-booking-list>
  </div>
</div>