﻿@page
@model Quest1.Pages.test.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Booking.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.Note)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.Note)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.BookedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.BookedDate)
        </dd>
         
        <dt>
            @Html.DisplayNameFor(model => model.Booking.LUTimeSlot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.LUTimeSlot.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Booking.LUTreatment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Booking.LUTreatment.ID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Booking.BookingId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
