﻿@page
@model Quest1.Pages.test.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Search  : <input type="text" name="SearchString" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Booking[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Booking[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Booking[0].Mobile)
                </th>
              
                <th>
                    @Html.DisplayNameFor(model => model.Booking[0].BookedDate)
                </th>
              
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].LUTimeSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].LUTreatment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.BookedDate)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.LUTimeSlot.TimeSlotTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LUTreatment.TreatmentTitle)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
